
.ezd-web-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .ezd-web-page {
    flex: 1 1;
    // background-color: silver;
    // background-color: rgb(58, 58, 58);
    background: url('../assets/Clouds_\(Windows_95\).png') ;
    background-size: cover;
    filter: hue-rotate(100deg) saturate(0.8);

  }
}
