@import '../../shared.scss';

.ezd-about {
  // box-sizing: content-box;
  background-color: $content-background-color;
  padding: 10px;
  color: white;
  min-height: 100%;
  min-width: 150px;
  .ezd-about-content-container {
    // box-sizing: border-box;
    // overflow: auto;
    // padding: 5px;
    .ezd-about-markdown {
      // display: inline-block;
      box-sizing: content-box;
    }
  }
}