
@import '../shared.scss';

div.top-nav {
  background: unset;
  border-bottom: 1px solid white;
  // background: linear-gradient(90deg, chartreuse, cyan);
  padding: 5px;
  display: flex;
  background-color: $win-surface-color;
  border-top: 1px solid white;
  .top-nav-btn {
    &:not(:first-of-type) {
      padding-left: 5px;
    }
  }
  .top-nav-divider {
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;
  }
  .tasks {
    flex: 1 1;
    display: flex;
    .task {
      flex-grow: 1;
      max-width: 200px;
      button.ezd-button {
        width: 100%;
        text-align: left;
        .ezd-button-inner {
          width: 100%;
          padding-left: 10px;
        }
      }
      &:not(:first-of-type) {
        padding-left: 3px;
      }
      &.top-win {
        button {
          box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
          background-color: $win-surface-color-light;
        }
      }
    }
  }
}
