/*
  Credit: https://codepen.io/Painatalman/pen/ExxdNXy
*/

@import '../../shared.scss';

// $ezd-spinner-animation-duration: 3200ms;
// $ezd-spinner-animation-duration: 1500ms;
$ezd-spinner-animation-duration: 1000ms;

.ezd-spinner {
  svg.hourglass-icon {
    height: 1.125em;
    width: 1.125em;
    font-size: 1.5rem;
    shape-rendering: crispEdges;
    fill: $text-color
  }
  .placeholder {
    // animation: ezd-spinner-rotation $ezd-spinner-animation-duration step-end infinite;
    animation: ezd-spinner-rotation $ezd-spinner-animation-duration ease-in-out infinite;
  }
}

@keyframes ezd-spinner-rotation {
  from {
    transform: rotate((0deg));
  }
  to {
    transform: rotate(360deg);
  }
  // 0% {
  //   transform: rotate(0deg);
  // }
  
  // 85% {
  //   transform: rotate(45deg);
  // }
  
  // 90% {
  //   transform: rotate(90deg);
  // }
  
  // 95% {
  //   transform: rotate(135deg);
  // }
  
  // 100% {
  //   transform: rotate(180deg);
  // }
}

@keyframes hourglass-rotation {
  0% {
    transform: rotate(0deg);
  }
  
  85% {
    transform: rotate(45deg);
  }
  
  90% {
    transform: rotate(90deg);
  }
  
  95% {
    transform: rotate(135deg);
  }
  
  100% {
    transform: rotate(180deg);
  }
}

@keyframes dot-3 {
  0% {
    transform: translate(0px, 0px);
  }
  4% {
    transform: translate(0, 10px); 
  }
  60% {
    transform: translate(0, 11px);
  }
  64% {
    transform: translate(1px, 13px);
  }
}
@keyframes dot-4 {
  0% {
    transform: translate(0px, 0px);
  }
  8% {
    transform: translate(-2px, 12px); 
  }
  60% {
    transform: translate(-3px, 13px); 
  }
}
@keyframes dot-2 {
  0% {
    transform: translate(0px, 0px);
  }
  12% {
    transform: translate(2px, 16px); 
  }
}
@keyframes dot-8 {
  0% {
    transform: translate(0px, 0px);
  }
  16% {
    transform: translate(1px, 15px); 
  }
}
@keyframes dot-7 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-1px, 15px); 
  }
}
@keyframes dot-5 {
  0% {
    transform: translate(0px, 0px);
  }
  24% {
    transform: translate(-3px, 15px); 
  }
}
@keyframes dot-1 {
  0% {
    transform: translate(0px, 0px);
  }
  28% {
    transform: translate(3px, 15px); 
  }
}
@keyframes dot-9 {
  0% {
    transform: translate(0px, 0px);
  }
  32% {
    transform: translate(-3px, 13px); 
  }
}
@keyframes dot-6 {
  0% {
    transform: translate(0px, 0px);
  }
  36% {
    transform: translate(-1px, 15px); 
  }
}
@keyframes dot-12 {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(2px, 14px); 
  }
}
@keyframes dot-10 {
  0% {
    transform: translate(0px, 0px);
  }
  44% {
    transform: translate(-1px, 13px); 
  }
}
@keyframes dot-11 {
  0% {
    transform: translate(0px, 0px);
  }
  48% {
    transform: translate(3px, 13px); 
  }
}
@keyframes dot-13 {
  0% {
    transform: translate(0px, 0px);
  }
  52% {
    transform: translate(-1px, 11px); 
  }
}
@keyframes dot-14 {
  0% {
    transform: translate(0px, 0px);
  }
  56% {
    transform: translate(1px, 11px); 
  }
}
@keyframes dot-15 {
  0% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(0px, 5px); 
  }
  64% {
    transform: translate(0px, 6px); 
  }
  68% {
    transform: translate(0px, 8px); 
  }
}

.hourglass-icon {
  animation: hourglass-rotation $ezd-spinner-animation-duration step-end infinite;
}
@for $i from 1 through 15 {
  .hourglass-icon__dot:nth-child(#{$i}) {
    animation: dot-#{$i} $ezd-spinner-animation-duration step-end infinite;
  }
}
