
@import '../../shared.scss';

.ezd-window {
  padding: 3px;
  .title-bar {
    display: flex;
    background: linear-gradient(90deg, $start-menu-secondary-color, var(--surface));
    .title-bar-text-container {
      flex: 1 1;
      cursor: grab;
    }
    .title-bar-controls {
      .title-bar-control-btn {
        display: flex;
        flex-direction: column;
        min-height: 16px;
        min-width: 16px;
        // background-color: $win-surface-color;
        .ezd-button-inner {
          flex: 1 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title-bar-btn {
            padding-bottom: 2px;
            padding-right: 1px;;
            &.minimize-btn {
              margin-top: auto;
              margin-bottom: 35%;
            }
          }
        }
      }
    }
  }
  .ezd-window-content {
    padding: 2px;
    @include inset-border;
    // background-color: var(--button-highlight);
    background-color: #fff;
    overflow: auto;
    min-width: 100px;
    min-height: 75px;
    .ezd-window-content-container {
      height: 100%;
    }
  }
  .status-bar {
    min-height: 20.5px;
    display: flex;
    justify-content: end;
    .resize-box {
      min-width: 20px;
      // border: 1px solid;
      cursor:nwse-resize;
      .resize-icon {
        opacity: 0.5;
      }
    }
  }
}
