
$text-color: rgb(34, 34, 34);
$content-background-color: rgb(50, 50, 50);

// $win-surface-color: rgb(192, 192, 192);
$win-surface-color: rgb(160, 252, 78); // chartreuse
// $win-surface-color: rgb(116, 252, 78);
// $win-surface-color: rgb(78, 252, 113);

// $win-surface-color: darken($win-surface-color, 5%);

// $start-menu-secondary-color: green;
$start-menu-secondary-color: darken($win-surface-color, 40%);
$win-surface-color-light: lighten($win-surface-color, 15%);


@mixin ezd-page {
  padding: 1em;
}

@mixin ezd-markdown {
  h1 {
    &:first-of-type {
      margin-top: 0;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin inset-border {
  box-shadow: inset -1px -1px var(--button-highlight) , inset 1px 1px var(--button-shadow) ,
    inset -2px -2px var(--button-face) , inset 2px 2px var(--window-frame)
}
