
@import './external/98.css';

@import './shared.scss';

$scrollbar-button-bg-color: $win-surface-color-light;

:root {
  --surface: #c0c0c0;
  --surface: #{$win-surface-color};
  // --window-frame: #0a0a0a;
  --window-frame: #{darken($win-surface-color, 40%)};
  --button-highlight: #ffffff;
  --button-highlight: #{lighten($win-surface-color, 25%)};

  // --button-face: #dfdfdf;
  --button-face: #{lighten($win-surface-color, 20%)};
  // --button-shadow: #808080;
  --button-shadow: #{darken($win-surface-color, 30%)};

  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
}

::-webkit-scrollbar-button {
  &:vertical {
    &:start {
      background-image: url('./assets/icon/button-up.svg');
    }
    &:end {
      background-image: url('./assets//icon/button-down.svg');
    }
  }
  &:horizontal {
    &:start {
      background-image: url('./assets/icon/button-left.svg');
    }
    &:end {
      background-image: url('./assets/icon/button-right.svg');
    }
  }
  &:vertical, &:horizontal {
    &:start, &:end {
      height: 17px;
      background-color: $scrollbar-button-bg-color;
      box-shadow: var(--border-raised-outer), var(--border-raised-inner);
      &:not(:disabled):active {
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
        text-shadow: 1px 1px var(--text-color);
      }
    }
  }
}

button.ezd-button {
  background-color: var(--surface);
  &:hover {
    background-color: var(--button-highlight);
  }
}

body {
  // font-family: 'Pixelated MS Sans Serif';
  
}
